@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
}
.bg{
    background-image: url("./images/bg2.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c1 h1{
    font-family: 'Kenia', cursive;
    background: -webkit-linear-gradient(#D2001A, #8B0000);
    -webkit-background-clip: text;
    background-clip: 0;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    /* background-color: #FFF5E4;
    border-radius: 10px;
    margin-bottom: 5px; */
}
.c1 .dch1{
    background: -webkit-linear-gradient(rgb(12, 99, 230), #000080);
    -webkit-background-clip: text;
    background-clip: 0;
    -webkit-text-fill-color: transparent;
}
.c2{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    align-self: center;
}
.c2 .question{
    background-color: #8B0000;
    color: white;
    padding: 15px;
    border-radius: 30px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 25px;
}
.c2 .dcquestion{
    background-color: rgb(12, 132, 230);
}
/* this didn't work because of position as it is before .option these styles got overridden by it so this is shifted to  bottom 
.c2 .dcoption{
    background-color: white;
} */
.c2 .option{
    background-color: silver;
    color: black;
    display: flex;
    align-items: center;
    /* width: 100%;
    overflow: hidden;   */
    /* padding: 10px; */
    border-radius: 30px;
    margin: 10px;
}
.c2 .dcoption{
    background-color: white;
}
.c2 .choice{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;   
    margin-left: 5px;
    font-weight: 600;
}
.c2 .option .circle{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 5px;
}

.c3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.c3 button{
    background-color: #fff;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    /* border: 2px solid black; */
}

.c3 button:hover{
    background-color: #8B0000;
    color: white;
    cursor: pointer;
    border: 2px solid silver;
}
.c3 .dcbutton:hover{
    background-color: rgb(12, 132, 230);
    color: white;
    cursor: pointer;
    border: 2px solid white;
}
.c2 .rightanswer {
    background-color: #37be0a;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin: 10px;
}
.c2 .rightanswer .circle{
    width: 40px;
    height: 40px;
    border: 2px solid #f2f8f0;
    border-radius: 50%;
    margin: 5px;
    background-image: url("./images/tick.jpg");
    background-size: cover;
}

.c2 .wronganswer{
    background-color: #CF0A0A ;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin: 10px;
}

.c2 .wronganswer .circle{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 5px;
    background-image: url("./images/wrong.jpg");
    background-size: cover;
}
.scoreboard{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    background-color: black;
    margin: 5px;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}
.scoretext{
    font-size: 20px;
    color: white;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
#score{
    font-size: 20px;
    background-color: gold;
    color: black;
    border-radius: 30px;
    padding: 5px 10px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.c2 .option:hover{
    /* background-color: #1E5128; */
    /* color: white; */
    box-shadow: 5px 1px 5px 2px whitesmoke;
    cursor: pointer;
}
